@model BookProject.Models.Book

@{
    ViewBag.Title = "Delete Book";
}

<h2>Delete Book</h2>
<p>Are you sure you want to delete <strong>@Model.BookName</strong> by @Model.BookAuthor?</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-danger">Delete</button>
    <a href="@Url.Action("Index")" class="btn btn-secondary">Cancel</a>
}
