@model BookProject.Models.User

@{
    ViewBag.Title = "Delete User";
}

<h2>Delete User</h2>
<p>Are you sure you want to delete @Model.UserFirstname @Model.UserLastname?</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-danger">Delete</button>
    <a href="@Url.Action("Index")" class="btn btn-secondary">Cancel</a>
}
